# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#added by me
*.vs*
*CMakeSettings*
*CMakeSettings.json
*/code/obsolete*

# Ignore contents of build, but not build
build/*
# I dunno how else to include the build dir...
!build/build.txt
out*